header {
    background-color: darkolivegreen;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: honeydew;
    padding: 25px;
  }

.finstigram-post {
    margin-bottom: 48px;
}

.finstigram-post .user-info img {
    border-radius: 100%;
  }
  
body {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a.photo{
    transition: padding 0.5s;
  }

a.photo:hover{
    padding: 10px;
  }