<!doctype html>

><html>
    <head> 
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
        <title>Finstagram</title>
    </head>

    <body> 

        <header>
            <h1>Finstigram</h1> 
        </header>>
        
        <main role="main">

            <article class="finstigram-post">  
                
                <div class="user-info">
                    <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg" alt="Monkey-Selfie">
                    <h2>David</h2>
                    <h3>2:20pm</h3>
                </div>
                
                <a class="photo" href="#">
                    <img src="https://cdn.britannica.com/06/150806-050-6AE99C98/Proboscis-monkey.jpg" alt="Post from David">
                </a>
               
                <div class="actions">
                    57 Likes 
                    <span class="comment-count">12 Comments</span>
                </div>
                
                <ul class="comments">

                    <li>
                        <p>David: Felt cute might delete later</p>
                        <p>Jerry: Nice pic!</p>
                    </li>
                
                </ul>
            </article>

            <article class="finstigram-post">  
                
                <div class="user-info">
                    <img src="https://i.pinimg.com/736x/1b/01/8a/1b018a94edc70e4652137b79706276a2.jpg" alt="Monkey-Selfie2">
                    <h2>Jerry</h2>
                    <h3>1:20pm</h3>
                </div>
                
                <a class="photo" href="#">
                    <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2012/12/10/1355137476555/Ikea-monkey-in-Toronto-st-008.jpg?width=465&dpr=1&s=none" alt="Post from Jerry">
                </a>
               
                <div class="actions">
                    653 Likes 
                    <span class="comment-count">45 Comments</span>
                </div>
                
                <ul class="comments">

                    <li>
                        <p>Jerry: Got all dressed up</p>
                        <p>David: Looking good!</p>
                    </li>
                
                </ul>
            </article>

            <article class="finstigram-post">  
                
                <div class="user-info">
                    <img src="https://storage.googleapis.com/adforum-media/34570212/ad_34570212_9b8f80babf2c99c9_web.jpg" alt="Monkey-Selfie3">
                    <h2>Emily</h2>
                    <h3>12:20pm</h3>
                </div>
                
                <a class="photo" href="#">
                    <img src="https://i.pinimg.com/originals/71/c5/df/71c5dfc9e534153b0c2c4c3dd124a65c.jpg" alt="Post from Emily">
                </a>
               
                <div class="actions">
                    974 Likes 
                    <span class="comment-count">89 Comments</span>
                </div>
                
                <ul class="comments">

                    <li>
                        <p>Emily: Out for a drive</p>
                        <p>David: Come pick me up!</p>
                    </li>
                
                </ul>
            </article>

        </main>
    </body>

</html>